/*  마진 순서 : 상우좌하
    다중 커서 : Alt + 드래그나 클릭
    코드 정렬 : Alt + Shift + F
    border 순서 : 픽셀, 스타일, 색깔 
     */





.top-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 1280px;
    margin: 100px auto 20px auto;
    align-items: center;
}

.left {
    display: flex;
    /* flex 아이템 순서 정방향 */
    flex-direction: row;
    /* 수직방향 정렬 */
    justify-content: center;
    /* 아이템들 가운데 정렬 */
    align-items: center;

}

#user-info {
    width: 200px;
    height: 48px;
    font-size: 25px;
    font-weight: bold;
    padding: 4px 15px;
    background-color: white;
    color: black;
    border: none;
    letter-spacing: 2px;
    margin-left: 50px;
}

#user-info:focus {
    outline: none;
}

#friends {
    width: 200px;
    height: 48px;
    font-size: 25px;
    font-weight: bold;
    padding: 4px 15px;
    background-color: white;
    color: #6472ce;
    border: none;
    border-bottom: solid 2px #6472ce;
    letter-spacing: 2px;
    
}

#friends:focus {
    outline: none;
}


.middle-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: auto;
}

.middle-box>div {
    flex: 1;
    width: 100px;
    height: 500px;
    margin-left: 30px;
}

.left-box {
    outline: 2px solid #ccc;
    border-radius: 20px;
    align-items: center;
}

.search-form {
    height: 10%;
    margin: 10px;
    position: relative;
    top: 1%;
    left: 9%;
}

.search-form input {
    height: 80%;
    border: none;
    font-size: 17px;
    background-color: #f1f2f3;
}

#plus-friend {
    width: 15%;
    border-radius: 20px 0 0 20px;
    text-align: center;
}

#search-input {
    width: 50%;
    padding-left: 5%;
    margin-left: -3px;
}

#search-input ::placeholder {
    color: gray;
}

#search-submit {
    width: 15%;
    border-radius: 0 20px 20px 0;
    margin-left: -3px;
    transition: 0.3s;
}

#search-submit :hover {
    background-color: #2c2c2c;
    box-shadow: 0 2px 4px rgba(0, 79, 25, 0.3);
    cursor: pointer;
}

.board_list {
    width: 80%;
    margin-left: 10%;
}

.board_list td {
    margin-left: 5rem;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}

#delete-button {
    width: 50%;
    height: 100%;
    padding: 5px;
    outline: 0.5px solid rgb(122, 122, 255);
    border-radius: 10px;
    font-size: 14px;
    background-color: #FFF;
}

#delete-button :hover {
    text-decoration: underline;

}

#right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right-box h3 {
    font-size: 20px;
    margin-top: 3%;
    margin-left: 5%;
}

#right-box-1 {
    height: 100%;
    outline: 2px solid #ccc;
    border-radius: 20px;
}

#right-box-2 {
    height: 100%;
    outline: 2px solid #ccc;
    border-radius: 20px;
    margin-top: 2%;
}

.rightbox-element {
    display: flex;
    margin: 3%;
    position: relative;
    left: 5%;
}

.rightbox-element>p {
    width: 60%;
    text-align: center;
}

.rightbox-element>input {
    margin: auto;
    margin-top: -0.1rem;
    width: 13%;
    background-color: #FFF;
    border-radius: 10px;
}

.rightbox-element>.submit-btn {
    border-color: blue;
}

.rightbox-element>.delete-btn {
    border-color: red;
}